.toolbar{
  display: flex;
  justify-content: space-between;
}

.tButton{
  color: whitesmoke;
  padding: 10px;
  /*max-width: 2%;*/
  /*min-width: 2%;*/
  min-height: 55%;
  max-height: 55%;
  background: transparent;
  border: none;
}

.header-buttons{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}


.dropdown-menu{
  width: 400px;
  max-height: 600px;
  overflow-y: auto;
  padding-left: 7px;
  padding-right: 7px;
}


.unseen{
  background-color: rgba(188, 188, 188, 0.47);
}

.seen{
  background-color: rgba(90, 90, 90, 0.47);
}

.unseen-alert{
  display: inline-block;

}

.show mat-icon{
  color: rgba(64, 188, 255, 1)
}

.unseen-alert span{
  font-size: 12px;
  text-align: center;
  display: inline-block;
  min-width: 20px;
  height: 20px;
  padding: 0 5px;
  background-color: #970000;
  color: #fff;
  border-radius: 50%;
  vertical-align: middle;
  line-height: 20px;
}

.notifications-header{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
}




.notification-btn{
  margin-top: 7px;
  padding: 5px;
  min-height: 70px;

}

.notification-body{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  max-width: 450px;
}


.notification-title{
  font-size: 12px;
  text-align: center;
  max-width: 250px;
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word
}

.notification-date{
  font-size: 14px;
  text-align: center;
  color: rgba(124, 228, 255, 0.56);
}


