<div class="comments-window">
  <div *ngIf="!loggedIn" class="text-center mt-5 mb-2">
    <h4>You must be logged in to write a comment!</h4>
    <div class="d-flex justify-content-center align-content-center align-items-center flex-row">
      <button (click)="signin()" class="btn btn-primary btn-sm mx-2">Sign in</button>
      <button routerLink="/signup" class="btn btn-success btn-sm mx-2">Sign up</button>
    </div>
  </div>
  <div class="mt-5 mb-1 w-100" *ngIf="user">
      <form class="d-flex flex-row justify-content-between align-items-center align-content-center w-100" (ngSubmit)="addComment()" [formGroup]="commentForm">
        <div class="d-flex flex-row justify-content-start align-content-start align-items-center">
          <img class="avatar avatar-sm mx-1 scalable" [src]="environment.getAvatar(user.id)">
          <textarea class="comment-input" style="resize: none" cols="100" rows="1" placeholder="Write your comment here..." type="text" name="content" [formControl]="commentForm.controls.content"></textarea>
        </div>
        <button [disabled]="commentForm.invalid" type="submit" class="btn btn-primary btn-sm">Submit</button>
      </form>
  </div>
  <mat-divider></mat-divider>
  <div class="d-flex flex-row justify-content-start align-content-center align-items-center mt-2 mb-5">
    <h2>{{"Comments: "+totalCommentsWithReplies}}</h2>
  </div>
  <div *ngFor="let comment of comments, index as i">
    <app-single-comment [comment]="comment" [index]="i" (deleteEvent)="deleteEvent($event)"></app-single-comment>
  </div>
  <div *ngIf="comments.length < totalComments" class="d-flex justify-content-center align-items-center align-content-center">
    <button (click)="moreComments()" class="btn btn-primary btn-sm">Load more</button>
  </div>
  <div *ngIf="comments.length === 0 && loggedIn" class="text-center mt-5 mb-2">
    <h4>No comments here at the moment. Be the first!</h4>
    <mat-divider></mat-divider>
  </div>
</div>
